<h2 style = "font-weight: bold; ">
  Bem-vindo {{name}},
</h2>
<h3 style = "font-weight: normal;">
  A sua matrícula foi realizada em <span style = "font-weight: bold">{{start_date}}</span>,
  no plano <span style = "font-weight: bold">{{plan_title}}({{plan_duration}} meses)</span>,
  no total de <span style = "font-weight: bold">R$ {{price}},00</span>.
  O término do seu plano será em <span style = "font-weight: bold">{{end_date}}</span>.
</h3>
